<div class="containerColumn">
    <div class="rowBodyHeader homeImg">

        <div class="rowOptions">

            <div class="leftPart">
                <%= link_to "dinnerdash", root_path, class: "noChangeLink dinnerdashLogo" %>
            </div>

            <div class="rightPart" >
                <% if user_signed_in? %>
                    <% if current_user.is_admin? %>
                        <%= link_to "backoffice", meals_path, class:"noChangeLink textSpacement" %>
                    <% end %>
                    
                    <%= link_to "perfil", edit_user_registration_path, class: "noChangeLink textSpacement" %>
                    <%= link_to "sair", destroy_user_session_path, method: :delete, class: "noChangeLink textSpacement" %>
                <% else %>
                    <%= link_to "entrar", new_user_session_path, class: "noChangeLink textSpacement" %>
                    <%= link_to "cadastro", new_user_registration_path, class: "noChangeLink textSpacement" %>
                <% end %>
            </div>
        </div>

        <div class="titleBackOffice">
            <% if user_signed_in? %>
                <span class="bigTitle1">Bem vindo, <%= current_user.name %></span>
                <br>
                <span class="subTitle">Neste espaço você pode finalizar seu pedido.</span>
            <% else %>
                <span class="bigTitle1">Monte o seu prato</span>
                <br>
                <span class="subTitle">Escolha sua salada, molho, prato principal, guarnição e bebida.</span>
            <% end %>

        </div>

    </div>
    <div class="rowBody ">
        <div class="rowBodyDiv">
            <h3 class="text-gray">O seu pedido:</h3>

            <span class="text-muted mb-0">Confira os itens pedidos antes de finalizar o pedido.</span>
            <div class="menuCategory">
                
                <% session[:cart].each do |item| %>
                    <% item.keys.each do |meal_id| %>
                        <% meal = Meal.find(meal_id) %>
                        <div id="cartItm" class="cartItem">
                            <div class="cartItemImg">
                            </div>
                            <div class="cartItemBody">
                                <span class="subsubTitle"> <%= meal.name %> </span>
                                <br>
                                <span class="text-muted mb-0">Quantidade: <%= item[meal.id.to_s][0] %></span>
                                <br>
                                <span class="text-muted mb-0">Preço unitário: R$<%= number_with_precision(meal.price, precision: 2) %></span>
                                <br>
                                <span class="text-muted mb-0">Preço total: R$<%= number_with_precision(item[meal.id.to_s][1], precision: 2) %></span>
                            </div>
                            <div class="cartItemForm">
                                <%= render partial: "carts/cart", locals: {item: item, meal: meal} %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="grayline"></div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <h3 class="text-gray">Esqueceu algo?<span style="color:#28a745;"></span></h3>
                    <span class="text-muted mb-0"><%= link_to "Clique aqui", :back %> para retornar ao nosso menu</span>
                </div>
                <div>
                    <h3 class="text-gray">Preço total do pedido: <span style="color:#28a745;">R$<%= number_with_precision(@@preco_pedido, precision: 2) %></span></h3>
                    <div class="login_and_sigin">
                        <% if user_signed_in? %>
                            <div class="actions", style="width:49%; ">
                                <%= link_to "finalizar e pagar", order_meals_path, class: "textBox confirmBox btn btn-success" %>
                            </div>
                        <% else %>
                            <div class="actions", style="width:49%;">
                                <%= link_to "entrar com minha conta", new_user_session_path, class: "textBox btn btn-outline-success" %>
                            </div>
                            <div class="actions", style="width:49%;">
                                <%= link_to "fazer o meu cadastro", new_user_registration_path, class: "textBox confirmBox btn btn-success" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>     
        </div>
    </div>

    <div class="navBar footer">
        <div class="fullLength">
            <div class="leftPart">
                <span > dinnerdash | todos os direitos reservados</span>
            </div>
            <div class="rightPart" style="color: #5C5C5C; font-size: 0.8em">
                
                <span>desenvolvido por Grupo-7</span>

            </div>
        </div>
    </div>
</div>