<html>
    <header>
    </header>
    <body>
        <%= render partial:'/shared/headerCheckout' %>
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="
    position: relative;">
            <div class="navbar-bordas">
                <strong>Pedido recebido!</strong> Aguarde na sua mesa.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="top: -10px;position: relative;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="div">
            <div class="div-coluna">
                <h3>
                    Seu último pedido:
                </h3>
                <p>
                    Aguarde o seu pedido ser entregue.
                </p>
                <div class="div-linha">
                    <% @orderMeals.each do |orderMeal| %>
                        <% meal = Meal.find(orderMeal.meal_id)%>
                        <% order = Order.find(orderMeal.order_id)%>
                        <div class="item-carrinho">
                            <div class="item-carrinho-img">
                            </div>
                            <div class="item-carrinho-body">
                                <span class="subsubTitle"> <%=meal.name%> </span>
                                <br>
                                <span class="text-muted mb-0">Quantidade: <%= orderMeal.quantity %> </span>
                                <br>
                                <span class="text-muted mb-0">Preço unitário: R$<%= meal.price%> </span>
                                <br>
                                <span class="text-muted mb-0">Preço total: R$<%= %></span>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <hr>
        <div class="div">
            <div class="div-coluna">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">pedido de nº</th>
                            <th scope="col">Status</th>
                            <th scope="col">Data</th>
                            <th scope="col">Preço total</th>
                            <th scope="col">Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @todos.each do |um|%>
                            <tr>
                                <td>
                                    <%= um.id %>
                                </td>
                                <% status = Situation.find(um.situation_id)%>
                                <% if status.description == "Pendente"%>
                                    <td class="entregue">
                                        <div class="status">
                                            Pendente
                                        </div>
                                    </td>
                                <%  elsif status.description == "Entregue" %>
                                    <td class="entregue">
                                        <div class="status">
                                            Entregue
                                        </div>
                                    </td>
                                <%  elsif status.description == "Cancelado" %>
                                    <td class="cancelado">
                                        <div class="status">
                                            Cancelado
                                        </div>
                                    </td>
                                <%  end %>
                                <td><%= um.created_at.strftime("%d/%m/%Y") %></td>
                                <td><%= um.price %></td>
                                <td>
                                    <%= link_to 'ver itens pedidos' %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example" style="margin-top: 10px;">
                    <ul class="pagination">
                        <% if @page != 0 %>
                            <li class="page-item <%= @page == 0 ? 'disabled' : '' %>">
                                <%= link_to checkout_path(page: @page - 1), ariaLabel: "Previous", class: "page-link" do%>
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                <% end %>
                            </li>
                        <% else %>
                            <li class="page-item disabled">
                                <%= link_to checkout_path(page: @page - 1), ariaLabel: "Previous", class: "page-link" do%>
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                <% end %>
                            </li>
                        <% end %>
                        <% if @page < @num_pages-1 %>
                            <li class="page-item">
                                <%= link_to checkout_path(page: @page + 1), ariaLabel: "Next", class: "page-link" do%>
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                <% end %>
                            </li>
                        <% else %>
                            <li class="page-item  disabled">
                                <%= link_to checkout_path(page: @page + 1), ariaLabel: "Next", class: "page-link" do%>
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </div>
        <%= render partial:'/shared/footer' %>
    </body>
</html>
