<% session[:cart] ||= [] %>
<% @@preco_pedido ||= 0 %>

<div class="containerColumn">
    <div class="rowBodyHeader homeImg">
        <div class="rowOptions">
            <div class="leftPart">
                <%= link_to "dinnerdash", root_path, class: "noChangeLink dinnerdashLogo" %>
            </div>
            <div class="rightPart" >
                <% if user_signed_in? %>
                    <%= link_to "perfil", edit_user_registration_path, class: "noChangeLink textSpacement" %>
                    <%= link_to "sair", destroy_user_session_path, method: :delete, class: "noChangeLink textSpacement" %>
                <% else %>
                    <%= link_to "entrar", new_user_session_path, class: "noChangeLink textSpacement" %>
                    <%= link_to "cadastro", new_user_registration_path, class: "noChangeLink textSpacement" %>
                <% end %>
            </div>
        </div>
        <div class="titleBackOffice">
            <% if user_signed_in? %>
                <span class="bigTitle1">Bem vindo, <%= current_user.name %></span>
                <br>
                <span class="subTitle">Monte o seu prato, escolha sua salada, molho, prato principal, guarnição e bebida.</span>
            <% else %>
                <span class="bigTitle1">Monte o seu prato</span>
                <br>
                <span class="subTitle">Escolha sua salada, molho, prato principal, guarnição e bebida.</span>
            <% end %>
        </div>
    </div>
    
    <div class="rowBody ">
        <div class="rowBodyDiv">
            <h2 class="text-gray">Frutas</h2>
            <div class="menuCategory">

            <% @meals.each do |meal| %>
                <div class="card menuCard">
                    <div class="card menuItemImg">
                        <%= image_tag('maca.jpg', class: "card-img") %>
                        <div class="card-img-overlay d-flex align-items-end noPadding">
                                <div class="menuItemTitle"><%= meal.name %></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-muted mb-0"><%= meal.description %></p>
                        <p class="priceText">R$<%= meal.price %> por porção</p>
                        <%= form_tag(method:"post", remote: true ) do %>
                            <div class="form-group">
                             <%= label_tag :qtd, "Quantidade", class: "text-gray" %>
                                <%= select_tag 'qtd', options_for_select(1..10, 1), class: "form-control form-control-sm" %>
                                <div class="actions">
                                    <%= link_to "adicionar ao meu prato", add_path(id: meal.id), method: :put, class: "textBox confirmBox btn btn-success" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
        <div class="grayline"></div>
        <div class="rowBodyDiv">
            <h2 class="text-gray">Finalizou seu prato?</h2>
            <span class="text-muted mb-0"class="text-muted mb-0">Confira os itens pedidos antes de confirmar o pedido.</span>
            <div class="menuCategory">
                
                <% session[:cart].each do |item| %>
                    <% item.keys.each do |meal_id| %>
                        <% meal = Meal.find(meal_id) %>
                        <div class="cartItem">
                            <div class="cartItemImg">
                            </div>
                            <div class="cartItemBody">
                                <span class="subsubTitle"> <%= meal.name %> </span>
                                <br>
                                <span class="text-muted mb-0">Quantidade: <%= item[meal.id.to_s][0] %></span>
                                <br>
                                <span class="text-muted mb-0">Preço unitário: R$<%= meal.price %></span>
                                <br>
                                <span class="text-muted mb-0">Preço total: R$<%= item[meal.id.to_s][1] %></span>
                            </div>
                            <div class="cartItemForm">
                                <%= render partial: 'carts/cart', locals: { item: item, meal: meal } %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="grayline"></div>
            <h3 class="text-gray">Preço total do pedido: <span style="color:#28a745;">R$<%= @@preco_pedido %></span></h3>
            <span class="text-muted mb-0"class="text-muted mb-0">Para finalizar o pedido, entre com sua conta ou faça o cadastro.</span>
            <div class="login_and_sigin">
                <% if user_signed_in? %>
                    <div class="actions", style="width:49%; ">
                        <button class="textBox confirmBox btn btn-success">finalizar e pagar</button>
                    </div>
                <% else %>
                    <div class="actions", style="width:49%;">
                        <%= link_to "entrar com minha conta", new_user_session_path, class: "textBox btn btn-outline-success" %>
                    </div>
                    <div class="actions", style="width:49%;">
                        <%= link_to "fazer o meu cadastro", new_user_registration_path, class: "textBox confirmBox btn btn-success" %>
                    </div>
                <% end %>
            </div>      
        </div>
    </div>

    <div class="navBar footer">
        <div class="fullLength">
            <div class="leftPart">
                <span > dinnerdash | todos os direitos reservados</span>
            </div>
            <div class="rightPart" style="color: #5C5C5C; font-size: 0.8em">
                <span>desenvolvido por Grupo-7</span>
            </div>
        </div>
    </div>	
</div>

