<div class="containerColumn">
    <div class="rowBodyHeader homeImg">
        <div class="rowOptions">
            <div class="leftPart">
                <span class="dinnerdashLogo">dinnerdash</span>
            </div>
            <div class="rightPart" >
                <a href="" class="noChangeLink"><span class="textSpacement">entrar</span></a>
                <a href="" class="noChangeLink"><span class="textSpacement">cadastro</span></a>
            </div>
        </div>
        <div class="titleBackOffice">
            <span class="bigTitle1">Monte o seu prato</span>
            <br>
            <span class="subTitle">Escolha sua salada, molho, prato principal, guarnição e bebida.</span>
        </div>
    </div>
    
    <div class="rowBody ">
        <div class="rowBodyDiv">
            <h2 class="text-gray">Frutas</h2>
            <div class="menuCategory">

            <% @meals.each do |meal| %>
                <div class="card menuCard">
                    <div class="card menuItemImg">
                        <%= image_tag  "maca.jpg", class: "card-img" %>
                        <div class="card-img-overlay d-flex align-items-end noPadding">
                                <div class="menuItemTitle"><%= meal.name %></div>
                        </div>
                    </div>
                    <div class="card-body" style="padding:1em;">
                        <p class="text-muted mb-0"><%= meal.description %></p>
                        <p class="priceText">R$<%= meal.price %> por porção</p>
                        <form>
                            <div class="form-group">
                                <label class="text-gray">Quantidade</label>
                                <select class="form-control form-control-sm ">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                                <button type="submit" class="textBox confirmBox margin-updown-min" >adicionar ao meu prato</button>
                            </div>
                        </form>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
        <div class="grayline"></div>
        <div class="rowBodyDiv">
            <h2 class="text-gray">Finalizou seu prato?</h2>
            <span class="text-muted mb-0"class="text-muted mb-0">Confira os itens pedidos antes de confirmar o pedido.</span>
            <div class="menuCategory">
                
                <% @meals.each do |meal| %>
                    <div class="cartItem">
                        <div class="cartItemImg">
                        </div>
                        <div class="cartItemBody">
                            <span class="subsubTitle"><%=meal.name%></span>
                            <br>
                            <span class="text-muted mb-0">Quantidade: 1</span>
                            <br>
                            <span class="text-muted mb-0">Preço unitário: R$<%=meal.price%></span>
                            <br>
                            <span class="text-muted mb-0">Preço total: R$<%=meal.price%></span>
                        </div>
                        <div class="cartItemForm">
                            <form>
                                <label class="text-gray">Quantidade</label>
                                <select class="form-control form-control-sm ">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                </select>
                                <button type="submit" class="textBox loginBox loginBox-red removeItemCart" style="padding: 0.3em 0;">remover</button>    
                            </form>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="grayline"></div>
            <h3 class="text-gray">Preço total do pedido: <span style="color:#28a745;">R$16,00</span></h3>
            <span class="text-muted mb-0"class="text-muted mb-0">Para finalizar o pedido, entre com sua conta ou faça o cadastro.</span>
            <div class="login_and_sigin">
                <div style="width:49%; ">
                    <button class="textBox loginBox">entrar com minha conta</button>
                </div>
                <div style="width:49%;">
                    <button class="textBox confirmBox">fazer o meu cadastro</button>
                </div>
            </div>      
        </div>
    </div>

    <div class="navBar footer">
        <div class="fullLength">
            <div class="leftPart">
                <span > dinnerdash | todos os direitos reservados</span>
            </div>
            <div class="rightPart" style="color: #5C5C5C; font-size: 0.8em">
                <span>desenvolvido por Valentin Paes</span>
            </div>
        </div>
    </div>	
</div>

