<html>
    <head>
    </head>
    </body>
        <%= render partial: '/shared/headerBackOffice' %>
        <div class="div">
            <div class="div-coluna">
                <h3>Editar categoria de refeição</h3>
                <hr>
                <%= form_with model: @meal_category do |form|%>
                    <div class="div-colunas">
                        <div style="width: inherit;">
                            <p class="input-label">Nome</p>
                            <%= form.text_field :name, placeholder: "Nome do tipo de refeição", class:'campo-text form-control'%>
                        </div>
                        <div class="espaco-left-cinco" style="width: inherit;">
                            <p class="input-label">Cadastrado em</p>
                            <%= form.text_field @meal_category.created_at.strftime("%d/%m/%Y"), placeholder: @meal_category.created_at.strftime("%d/%m/%Y"), class:'campo-text form-control', readonly: true %>
                        </div>
                    </div>
                    
        
                    <div class="cancel-envia">
                        <%= form.submit 'atualizar categoria de refeição', class:'btn btn-outline-success'%>
                        <%= link_to 'voltar', meal_categories_path, class:'btn btn-outline-dark voltar'%>
                    </div>
                <% end %>
            </div>
        </div>
        <%= render partial: '/shared/footer'%>	
    </body>
</html>