<head>
    <%= stylesheet_link_tag "orders_index", media: "all" %>
</head>
    <div class="navbar logo">
        <%= link_to('dinnerdash', root_path, class: "navbar-brand") %> 
    </div>
    
    <div class="ddnavbar">
        <div class="row no-gutters">
            <div class="col">
                <%= link_to 'backoffice', orders_path, class: 'nav-link backoffice' %>
            </div>
            <div class="col">
                <a class="nav-link" href="#">perfil</a>
            </div>
            <div class="col">
                <%= link_to('sair', destroy_user_session_path, method: :delete, class: "nav-link") %> 
            </div>
        </div>
    </div>
    
    <div class="title">
        <div class="container-fluid">
            <div class="row smaller-gutter">
                <div class="col-md title-t">
                    <h1>Backoffice</h1>
                    <h5>Gerencie pedidos, refeições e mais.</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="aba">

        <div class="ddsubnav-container container-fluid">
            <ul class="ddsubnav row">
            
                <li class="ddsubnav-current"><%= link_to 'Pedidos', orders_path %></li>
                <li><a href="#">Usuários</a></li>
                <li><a href="#">Refeições</a></li>
                <li><a href="#">Categorias de Refeição</a></li>           
            </ul>
        </div>

        <div class="container-fluid view-title">
            <div class="row smaller-gutter">
                <h5>
                    Pedido <%= @order.id %>
                </h5>
            </div>

            <div class="row smaller-gutter view-subtitle">
                <h5 class="view-subtitle">
                    Preço total: R$<%= sprintf('%.2f', @total).gsub('.', ',') %>
                </h5>
            </div>

            <hr />
        </div>

        <div class="container-fluid">
            <div class="row smaller-gutter">
            <table class="col">
                <tr class="table_h">
                    <th>Número</th>
                    <th>Prato</th>
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                    <th></th><th></th>
                </tr>
                <% i = 1 %>
                <% @ordermeals.each do |om| %>
                <% @meal_category = Meal.find(om.meal_id).meal_category_id %>

                <tr>
                    <td> <%= i + @offset %>
                    <td> <%= Meal.find(om.meal_id).name %> </td>
                    <td> <%= MealCategory.find(@meal_category).name %>
                    <td> R$<%= sprintf('%.2f', Meal.find(om.meal_id).price).gsub('.', ',') %> </td>
                    <td> <%= om.quantity %> </td>
                    <td> R$<%= sprintf('%.2f', om.quantity * Meal.find(om.meal_id).price).gsub('.', ',') %>
                </tr>
                <% i+= 1 %>
                <% end %>
            </table>
            </div>

        </div>

        <nav class="ddpage">
            <ul class="pagination justify-content-center">
                <li class="page-item <%= @page == 0 ? 'disabled' : '' %>">
                <% if @page > 0 %>
                    <%= link_to "&laquo;".html_safe, order_path(page: @page - 1), class: "page-link ddpgturn" %>
                <% end %>
                </li>
                <li class="page-item">
                <% if @page_continue %>
                    <%= link_to "&raquo;".html_safe, order_path(page: @page + 1), class: "page-link" %>
                <% end %>
                </li>
            </ul>
        </nav>

    </div>

    <footer class="ddfooter container-fluid">
        <div class="row smaller-gutter">
            <div class="col-md" style="font-weight: bold;">dinnerdash | todos os direitos reservados</div>
            <!-- Fonte não é igual -->
            <div class="col-md" style="text-align: right; font-size: 0.75em;">desenvolvido por CJR</div>
        </div>
    </footer>

    <div id="background">
        <div class="darken-overlay"></div>
    </div>