<div class="containerColumn"> 

		<%= render  "backoffice_header" %>

		<div class="rowBody ">

			<div class="rowMeals">

        <% @meals.each do |meal| %>

          <div class="card menuCard">

            <%= render  "card_image", meal: meal %>

            <div class="card-body" style="padding:0.7em;">
              <p class="text-muted mb-0"><%= meal.description %></p>
              <p class="priceText">R$<%= meal.price %> por porção</p>
              <div class="cardOptions">
                <%= link_to  '<button type="button" class="textBox confirmBox margin-updown-min yellowBox" 
                style="width: 95%">editar</button>'.html_safe, edit_meal_path(meal), method: 'get',
                style: 'width: 100%;' %>
                <%= link_to  '<button type="button" class="textBox confirmBox margin-updown-min redBox" 
                style="width: 95%">excluir</button>'.html_safe, meal_path(meal), method: 'delete', 
                data: {confirm: 'Realmente deseja excluir o prato?'},
                style: 'width: 100%;'%>
              </div>
            </div>
          </div>
        <% end %>
      
      </div>

      <div class="boxCenter">
        <button class="pageButton btnLeft"><<</button>
        <button class="pageButton btnSelected">1</button>
        <button class="pageButton">2</button>
        <button class="pageButton btnRight">>></button>
      </div>
                
      <div style="width:12em;">
        <%= link_to '<button type="button" class="textBox confirmBox" style="padding:0.5em 4px">nova refeição</button>'.html_safe, new_meal_path %>
			</div>
			
		</div>

		<div class="navBar footer">
			<div class="fullLength">
				<div class="leftPart">
					<span > dinnerdash | todos os direitos reservados</span>
				</div>
				<div class="rightPart" style="color: #5C5C5C; font-size: 0.8em">
					<span>desenvolvido pelo Grupo 07</span>
				</div>
			</div>
		</div>	
	
	</div>


